main {
    table {
        width: 100%;
        tr {
            td:not(:first-child) {
                text-align: end;
            }
        }
        td {
            padding: 0 5px;
        }
        .odd-col {
            background-color: #e7e7e7;
        }
    }
    .title {
        font-weight: bold;
        font-size: 18px;
        border: 2px solid black;
        border-left: none;
        border-right: none;
        margin: 10px 0;
    }
}