    .upload-container {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 16px 0;
    }

    .upload-area {
        border: 1px dashed #d9d9d9;
        border-radius: 8px;
        padding: 20px 32px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        background-color: #fafafa;
    }

    .upload-area:hover,
    .upload-area.drag-over {
        border-color: var(--tp-bg-primary);
        background-color: #e6f7ff;
    }

    .upload-icon {
        margin-bottom: 16px;
        color: var(--tp-bg-primary);
    }

    .main-text {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #333;
    }

    .sub-text {
        font-size: 14px;
        color: #666;
        margin: 4px 0;
    }

    .file-list {
        // margin-top: 16px;
        // border: 1px solid #eee;
        border-radius: 8px;
        padding: 16px 20px;
    }
    
    // .file-item {
    //     background-color: #f5f5f5;
    // }

    .file-item:last-child {
        border-bottom: none;
    }

    .file-prefix {
      color: #666;
      font-size: 20px;
      transform: rotate(-45deg);
    }

    .file-name {
        flex: 1;
        color: var(--tp-bg-primary);
        overflow: hidden;
        text-overflow: ellipsis;
        width: 250px;
        white-space: nowrap;
        font-size: 13px;
    }

    .file-size {
        color: #666;
        font-size: 0.9em;
        margin: 0 12px;
    }

    .remove-btn {
        display: none;
        background: none;
        border: none;
        color: #666;
        cursor: pointer;
        height: 20px;
    }

    .remove-btn:hover {
        color: #ff7875;
    }

    .remove-btn .mat-icon {
        font-size: 20px;
        top: 50%;
        height: 20px;
        width: 20px;
    }

    .file-item:hover {
        background-color: #f5f5f5;
    }

    .file-item:hover .remove-btn {
        display: block;
    }