<div class="dashboard-container">
  <!-- Sidebar - now sticky/fixed -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Main content area -->
  <div class="main-content">
    <!-- Header - now sticky -->
    <app-header class="navbar"></app-header>

    <!-- Scrollable content area -->
    <div class="content-area" [ngClass]="{ 'contact-bg': isContactPage() }">
      <div class="px-2 py-6">
        <app-loader [isLoading]="isLoading"></app-loader>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>