.form-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--tp-bg-primary);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.form-checkbox:checked {
  background-color: var(--tp-bg-primary);
}

.form-checkbox:checked::after {
  content: '✔';
  position: absolute;
  top: -2px;
  left: 1px;
  font-size: 0.75rem;
  color: white;
  /* ✅ makes tick white */
}
