<div class="min-h-screen flex flex-col items-center justify-center px-4">
    <app-logo class="z-10"/>

    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md relative z-10">
        <h2 class="text-2xl font-semibold text-center mb-6">New password creation</h2>

        <!-- Error Message -->
        <div *ngIf="tokenError && !isLoading" class="mb-4 p-3 bg-red-100 text-red-700 rounded text-sm">
            {{ tokenError }}
        </div>

        <!-- Form -->
        <form *ngIf="tokenValid" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!-- New Password -->
            <div class="mb-6 relative">
                <label class="block text-sm font-medium text-gray-700 mb-1">
                    New Password
                </label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-400">
                        <lucide-angular [ngClass]="{
                'text-red-500': password?.invalid && password?.touched
              }" [img]="icons.lock" class="h-4 w-4" />
                    </span>
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" type="password"
                        autocomplete="current-password" required formControlName="password"
                        (focus)="showRequirements = true" (blur)="showRequirements = false" [ngClass]="{
              'border-red-500': password?.invalid && password?.touched,
              'border-gray-300': !(password?.invalid && password?.touched)
            }" class="w-full border border-gray-300 rounded-md placeholder-gray-400 pl-8 pe-4 py-2 focus:outline-none"
                        placeholder="Password" />
                    <span class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 cursor-pointer">
                        <lucide-angular [img]="passwordVisible ? icons.eye : icons.eyeOff" class="h-4 w-4"
                            (click)="togglePasswordVisibility()"></lucide-angular>
                        <lucide-angular *ngIf="password?.invalid && password?.touched" [img]="icons.alert"
                            class="h-4 w-4 text-red-500 mx-1"></lucide-angular>
                    </span>
                </div>

                <div *ngIf="showRequirements" class="absolute z-10 mt-2 left-75 w-80">
                    <div class="relative">
                        <!-- Shadow for the caret -->
                        <div
                            class="absolute -top-2 left-4 w-0 h-0 border-l-[9px] border-r-[9px] border-b-[9px] border-l-transparent border-r-transparent border-b-gray-200 filter">
                        </div>
                        <!-- Main caret -->
                        <div
                            class="absolute -top-2 left-4 w-0 h-0 border-l-8 border-r-8 border-b-8 border-l-transparent border-r-transparent border-b-white z-10">
                        </div>

                        <!-- Requirements Box -->
                        <div class="bg-white shadow-md rounded-md text-sm border border-gray-100">
                            <h4 class="font-bold mb-2 border-b-2 border-gray-100 px-3 pt-3 pb-1">Your password should:
                            </h4>
                            <ul class="space-y-2 px-3 pb-3">
                                <li class="flex items-center" [class.text-red-600]="!hasUppercase()"
                                    [class.text-green-600]="hasUppercase()">
                                    <span class="mr-2">
                                        <lucide-angular *ngIf="!hasUppercase()" [img]="icons.alert" class="h-4 w-4" />
                                        <lucide-angular *ngIf="hasUppercase()" [img]="icons.check" class="h-4 w-4" />
                                    </span> Have at least 1 uppercase letter
                                </li>
                                <li class="flex items-center" [class.text-red-600]="!hasNumber()"
                                    [class.text-green-600]="hasNumber()">
                                    <span class="mr-2">
                                        <lucide-angular *ngIf="!hasNumber()" [img]="icons.alert" class="h-4 w-4" />
                                        <lucide-angular *ngIf="hasNumber()" [img]="icons.check" class="h-4 w-4" />
                                    </span> Have at least 1 number
                                </li>
                                <li class="flex items-center" [class.text-red-600]="!hasSpecialChar()"
                                    [class.text-green-600]="hasSpecialChar()">
                                    <span class="mr-2">
                                        <lucide-angular *ngIf="!hasSpecialChar()" [img]="icons.alert" class="h-4 w-4" />
                                        <lucide-angular *ngIf="hasSpecialChar()" [img]="icons.check" class="h-4 w-4" />
                                    </span> Have at least 1 special character
                                </li>
                                <li class="flex items-center" [class.text-red-600]="!hasMinLength()"
                                    [class.text-green-600]="hasMinLength()">
                                    <span class="mr-2">
                                        <lucide-angular *ngIf="!hasMinLength()" [img]="icons.alert" class="h-4 w-4" />
                                        <lucide-angular *ngIf="hasMinLength()" [img]="icons.check" class="h-4 w-4" />
                                    </span> Have minimum 8 characters
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700 mb-1">
                    Confirm Password
                </label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-400">
                        <lucide-angular [ngClass]="{
                            'text-red-500': confirmPassword?.invalid && confirmPassword?.touched
                        }" [img]="icons.lock" class="h-4 w-4" />
                    </span>
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirmPassword"
                        name="confirmPassword" type="password" autocomplete="current-password" required
                        formControlName="confirmPassword" [ngClass]="{
                        'border-red-500': (confirmPassword?.invalid && confirmPassword?.touched) || resetPasswordForm.hasError('mismatch'),
                        'border-gray-300': !(confirmPassword?.invalid && confirmPassword?.touched && resetPasswordForm.hasError('mismatch'))
                        }"
                        class="w-full border border-gray-300 rounded-md placeholder-gray-400 pl-8 pe-4 py-2 focus:outline-none"
                        placeholder="Password"
                        [class.border-red-500]="resetPasswordForm.hasError('mismatch') && confirmPassword?.touched" />
                    <span class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 cursor-pointer">
                        <lucide-angular [img]="confirmPasswordVisible ? icons.eye : icons.eyeOff" class="h-4 w-4"
                            (click)="toggleConfirmPasswordVisibility()"></lucide-angular>
                        <lucide-angular
                            *ngIf="(confirmPassword?.invalid && confirmPassword?.touched) || resetPasswordForm.hasError('mismatch')"
                            [img]="icons.alert" class="h-4 w-4 text-red-500 mx-1"></lucide-angular>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.hasError('mismatch') && confirmPassword?.touched"
                    class="text-red-500 text-xs mt-1">
                    Passwords don't match
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit"
                class="w-full bg-blue-900 text-white py-2 rounded-md hover:bg-blue-800 transition-colors cursor-pointer"
                [disabled]="resetPasswordForm.invalid || isSubmitting">
                <span *ngIf="!isSubmitting">Reset Password</span>
                <span *ngIf="isSubmitting">Processing...</span>
            </button>
        </form>

        <!-- Back to Login Link -->
        <div class="mt-4 text-center text-sm">
            <a routerLink="/auth/login" class="text-blue-900 hover:underline">Back to Login</a>
        </div>
    </div>

    <app-copyright class="flex items-center justify-center z-10" />
</div>